// <!-- ::::: Custom variables overide ::::: -->
$border-radius-lg: 12px !default;
// <!-- ::::: Custom variables overide ::::: -->

@import "../node_modules/bootstrap/scss/bootstrap.scss";

// LAYOUT
// <!-- ::::: Global ::::: -->
section {
    padding-top: 72px;
}
// <!-- ::::: Global ::::: -->

// <!-- ::::: Top header navigation ::::: -->
.social-badges {
    .social-badge {
        display: flex;
        background-color: white;
        color: $primary;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        text-align: center;
        justify-content: center;
        align-items: center;
        margin: 0 4px;
    }
    .language-switcher {
        i {
            color: $primary;
        }
    }
}
// <!-- ::::: Top header navigation ::::: -->

// <!-- ::::: Middle header navigation ::::: -->
#middle-header {
    i {
        font-size: 2rem;
        color: $primary;
    }
    .text-section {
        .lead {
            font-weight: 400;
        }
    }
}
// <!-- ::::: Middle header navigation ::::: -->

// <!-- ::::: Hero image ::::: -->
#hero-image {
    background: linear-gradient(
        rgba(255, 255, 255, .2), 
        rgba(255, 255, 255, .2)
      ), url("../assets/images/smir-background.jpg");;
    background-size: cover;
    background-position: center;
    height: 70vh;
    #hero-image-content {
        padding-top: 20vh;
        @media (min-width: 992px) {
            padding-top: 10vh;
        }
    }
}

.big-badge {
    display: flex;
        background-color: $primary;
        color: $primary;
        width: 65px;
        height: 65px;
        border-radius: 50%;
        text-align: center;
        justify-content: center;
        align-items: center;
        margin: 0 4px;
        i {
            font-size: 2rem;
            color: white;
        }
}
// <!-- ::::: Hero image ::::: -->

// <!-- ::::: Our features ::::: -->
#our-features {
    @media (min-width: 1200px) {
        margin-top: -8rem;
    }
}

#card-feature-1 {
    width: 95%;
    @media (min-width: 992px) {
        width: 100%;
    }
    @media (min-width: 992px) and (max-width: 1200px) {
        border-radius: 0px !important;
    }
    img {
        width: 75px;
    }
    p {
        max-width: 260px;
    }
}
#card-feature-2 {
    width: 95%;
    @media (min-width: 992px) {
        width: 100%;
    }
    @media (min-width: 992px) and (max-width: 1200px) {
        border-radius: 0px !important;
    }
    background-color: $orange-400;
    img {
        width: 75px;
    }
    p {
        max-width: 260px;
    }
}
#card-feature-3 {
    width: 95%;
    @media (min-width: 992px) {
        width: 100%;
    }
    @media (min-width: 992px) and (max-width: 1200px) {
        border-radius: 0px !important;
    }
    background-color: $gray-800;
    img {
        width: 75px;
    }
    p {
        max-width: 260px;
    }
}
// <!-- ::::: Our features ::::: -->

// <!-- ::::: Our offers ::::: -->
#our-offers {
    .card {
        transition: .2s;
    }
    .card:hover {
        background-color: $blue-300;
        color: white;
        transform: translate(0, -5px)
    }
}
// <!-- ::: Title and button section ::: -->
.mg-grid-title-section {
    h3 {
        font-weight: 700;
    }
}
// <!-- ::: Title and button section ::: -->
// <!-- ::::: Our offers ::::: -->

// <!-- ::::: Pain points ::::: -->
#pain-points {
    background-color: #EAEAEA;
    padding-top: 72px;
}
// <!-- ::::: Pain points ::::: -->

// <!-- ::::: Contact section ::::: -->
#contact-section {
    @media (min-width: 1200px) {
        margin-top: -8rem;
    }
}

#contat-us_2 {
    // img {
    //     max-height: 420px;
    // }
    .card-img-overlay {
        background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,.25) 100%);
        // background: rgba(2, 2, 2, 0.3);
        padding-top: 35%;
        p {
            max-width: 320px;
        }
    }
}
// <!-- ::::: Form ::::: -->
form {
    background: white;
    padding: 16px 24px;
    max-height: 420px;
    i {
        color: $primary;
    }
}
// <!-- ::::: Form ::::: -->
// <!-- ::::: Contact section ::::: -->

// <!-- ::::: About us setciton ::::: -->
#about-us {
    ul {
        list-style-type: none;
    }
    i {
        color: $primary;
    }
    span {
        color: $primary;
    }
}
// <!-- ::::: About us setciton ::::: -->

// <!-- ::::: Konkurencne prednosti ::::: -->
#konkurencne-prednosti {
    background: $blue-100;
    .big-badge_2 {
        display: flex;
            background-color: white;
            color: $primary;
            width: 65px;
            height: 65px;
            border-radius: 50%;
            text-align: center;
            justify-content: center;
            align-items: center;
            margin: 0 4px;
            img {
                height: 35px;
                color: $primary;
                color: red;
            }
    }
}
// <!-- ::::: Konkurencne prednosti ::::: -->